#!/usr/bin/env python
# -*- coding: utf-8 -*-
# Created on $CREATE_TIME
# Project: $PROJECTS_NAME

from libs.basespider.basespider import *


class Generator(BaseGenerator):
    """
    Spider Generator
    """

    def start_generator(self):
        """
        Start Generator
        :return: URL List
        :example: [{"url":"http://www.example.com", "args":None}]
        """
        start_url = "$START_URL"
        result = self.generate(start_url)
        return result

class Downloader(BaseDownloader):
    """
    BaseSpider Downloader
    """

    def start_downloader(self, url):
        """
        Start Downloader
        """
        resp = self.download(url)
        return resp


class Parser(BaseParser):
    """
    BaseSpider Parser
    """

    def start_parser(self, response):
        """
        Start Parser
        """
        result = self.parser(response)

        return result

    def parser(self, response):
        """
        Parser Response to Result
        :param response:
        :return: dict
        """

        result = response.text()

        return result
