#!/usr/bin/env python
# -*- coding: utf-8 -*-
# Created on $CREATE_TIME
# Project: $PROJECTS_NAME

from libs.basespider.basespider import *


class Spider(BaseSpider):
    """
    Spider Generator
    """

    def start_generator(self):
        """
        Start Generator
        :return: URL List
        :example: [{"url":"http://www.example.com", "args":None, "callback":"parser_detail"}]
        """
        result = []

        start_url = "__START_URL__"
        result_url = self.generate(start_url, callback=self.parser)
        result.append(result_url)

        return result

    def start_downloader(self, url, args):
        """
        Start Downloader
        """
        resp = self.download(url, args)
        return resp

    def start_parser(self, response, callback):
        """
        Start Parser
        """
        result = callback(response)

        return result

    def parser(self, response):
        """
        Parser Response to Result
        :param response:
        :return: dict
        """
        result = {
            "url": response.url,
            "title": response.doc('title').text(),
        }
        return result