#!/usr/bin/env python
# -*- coding: utf-8 -*-
# Created on $CREATE_TIME
# Project: $PROJECTS_NAME

from xspider.management.command.basespider import *


class Generator(BaseGenerator):
    """
    Spider Generator
    """

    def start_generator(self):
        """
        Start Generator
        :return:
        """
        start_url = "$START_URL"
        self.generate(start_url)


class Downloader(BaseDownloader):
    """
    BaseSpider Downloader
    """
    pass

class Parser(BaseParser):
    """
    BaseSpider Parser
    """
    pass
