{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Xenon Boostrap Admin Panel" />
	<meta name="author" content="" />

	<title>XSpider-Debug</title>

	<!--<link rel="stylesheet" href="http://fonts.useso.com/css?family=Arimo:400,700,400italic">-->
	<link rel="stylesheet" href="{% static 'assets/css/fonts/linecons/css/linecons.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/fonts/fontawesome/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-core.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-forms.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-components.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/xenon-skins.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

	<!--CodeEditer relink-->
    <link rel="stylesheet" href="{% static 'codemirror/lib/codemirror.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/theme/3024-night.css' %}">
    <link rel="stylesheet" href="{% static 'codemirror/theme/erlang-dark.css' %}">

    <script src="{% static 'codemirror/lib/codemirror.js' %}"></script>
    <script src="{% static 'codemirror/mode/shell/shell.js' %}"></script>
    <script src="{% static 'codemirror/mode/perl/perl.js' %}"></script>
    <script src="{% static 'codemirror/mode/python/python.js' %}"></script>
    <script src="{% static 'codemirror/mode/javascript/javascript.js' %}"></script>


	<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js' %}"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js' %}"></script>
	<![endif]-->

	<style type="text/css">
	 /*.CodeMirror{border:1px solid black;font-size:13px;width:60%;height:100%}*/
	 .CodeMirror{font-size:12px;width:100%;height:100%}
	</style>


</head>
<body class="page-body">

	<!--<nav class="navbar horizontal-menu navbar-fixed-top navbar-minimal">&lt;!&ndash; set fixed position by adding class "navbar-fixed-top" &ndash;&gt;-->

		<!--<div class="navbar-inner">-->

			<!--&lt;!&ndash; Navbar Brand &ndash;&gt;-->
			<!--<div class="navbar-brand">-->
				<!--<a href="/dashboard" class="logo">-->
					<!--<img src="{% static 'assets/images/logo@3x.png' %}" width="80" alt="" class="hidden-xs" />-->
					<!--<img src="{% static 'assets/images/logo-white-bg@3x.png' %}" width="80" alt="" class="visible-xs" />-->
				<!--</a>-->
			<!--</div>-->

			<!--&lt;!&ndash; Mobile Toggles Links &ndash;&gt;-->
			<!--<div class="nav navbar-mobile">-->

				<!--&lt;!&ndash; This will toggle the mobile menu and will be visible only on mobile devices &ndash;&gt;-->
				<!--<div class="mobile-menu-toggle">-->
					<!--&lt;!&ndash; This will open the popup with user profile settings, you can use for any purpose, just be creative &ndash;&gt;-->
					<!--<a href="#" data-toggle="settings-pane" data-animate="true">-->
						<!--<i class="linecons-cog"></i>-->
					<!--</a>-->

					<!--<a href="#" data-toggle="user-info-menu-horizontal">-->
						<!--<i class="fa-bell-o"></i>-->
						<!--<span class="badge badge-success">7</span>-->
					<!--</a>-->

					<!--&lt;!&ndash; data-toggle="mobile-menu-horizontal" will show horizontal menu links only &ndash;&gt;-->
					<!--&lt;!&ndash; data-toggle="mobile-menu" will show sidebar menu links only &ndash;&gt;-->
					<!--&lt;!&ndash; data-toggle="mobile-menu-both" will show sidebar and horizontal menu links &ndash;&gt;-->
					<!--<a href="#" data-toggle="mobile-menu-horizontal">-->
						<!--<i class="fa-bars"></i>-->
					<!--</a>-->
				<!--</div>-->

			<!--</div>-->

			<!--<div class="navbar-mobile-clear"></div>-->



			<!--&lt;!&ndash; main menu &ndash;&gt;-->

			<!--<ul class="navbar-nav">-->
				<!--<li class="opened active">-->
					<!--<a href="/dashboard">-->
						<!--<i class="linecons-cog"></i>-->
						<!--<span class="title">Dashboard</span>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="/dashboard/nodes">-->
						<!--<i class="linecons-desktop"></i>-->
						<!--<span class="title">Nodes</span>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="/dashboard/data">-->
						<!--<i class="linecons-note"></i>-->
						<!--<span class="title">Data</span>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="http://127.0.0.1:5555/" target="_blank">-->
						<!--<i class="linecons-params"></i>-->
						<!--<span class="title">Flower</span>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li>-->
					<!--<a href="">-->
						<!--<i class="linecons-diamond"></i>-->
						<!--<span class="title">Other</span>-->
					<!--</a>-->
				<!--</li>-->
			<!--</ul>-->

			<!--&lt;!&ndash; notifications and other links &ndash;&gt;-->

		<!--</div>-->

	<!--</nav>-->


	<div class="page-container"><!-- add class "sidebar-collapsed" to close sidebar by default, "chat-visible" to make chat appear always -->

		<div class="main-content debug-content">

			<div class="row">
				<!--<div class="col-md-12">-->

				<div class="panel panel-debug panel-default ">
					<div class="panel-heading ">
						<!--&lt;!&ndash;<h3 class="panel-title"><strong>Debug-{{project.name}}</strong></h3>&ndash;&gt;-->

						<button class="btn btn-blue btn-icon btn-sm btn-icon-standalone btn-icon-standalone-right float-right save-script">
							<i class="fa-plane"></i>
							<span>Save Scripts</span>
						</button>

						<a href="/dashboard" class="btn btn-primary btn-icon btn-icon-standalone btn-sm">
							<i class="fa-check"></i>
							<span>Back</span>
						</a>

						<button class="btn btn-success btn-icon btn-icon-standalone btn-icon-standalone-right float-right btn-sm run-script">
							<i class="fa-link"></i>
							<span>Run</span>
						</button>

					</div>

					<div class="panel-heading">

						<div class="col-md-5 no-padding-textarea">

							<div class="col-md-12 no-padding-textarea">

								<div class="panel-heading run-task-table">
                                    <div class="label label-default">Debug Terminal</div>
                                    <br/>
								</div>

								<div class="no-padding-textarea">

										<form role="form" method="post">
											<div class="form-group">
												<textarea id="status" class="json">Project Name: {{ project.name }}

												</textarea>
											</div>
										</form>
								</div>


							</div>

							<div id="task-table" class="hidden">
								<div class="panel-heading">

									<div class="label label-default">New Tasks</div>
                                    <span id="task-number" class="label label-secondary ">0</span>

								</div>

								<table class="table run-task-table">
									<tbody id="url-table">
										<!--<tr>-->
											<!--<td class="col-md-3 no-padding-textarea text-secondary">parser_index</td>-->
											<!--<td class="col-md-8 no-padding-textarea">http:www.baidu.com</td>-->
											<!--<td class="col-md-1 no-padding-textarea">-->
												<!--<a class="btn btn-success btn-single btn-xs">run</a>-->
											<!--</td>-->
										<!--</tr>-->

									</tbody>

								</table>

							</div>

							<!-- Removing search and results count filter -->
						</div>



						<div class="col-md-7 no-padding-textarea">
							<form role="form" method="post" >
								<div class="form-group">
									<textarea id="script" class="python" project="{{ project.name }}">{{ project.script }}</textarea>
								</div>
							</form>
						</div>

					</div>

				</div>

				<!--</div>-->
            </div>


			<!-- Main Footer -->
			<!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
			<!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
			<!-- Or class "fixed" to  always fix the footer to the end of page -->
			<footer class="main-footer sticky footer-type-1">

				<div class="footer-inner">

					<!-- Add your copyright text here -->

					<!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
					<div class="go-up">

						<a href="#" rel="go-top">
							<i class="fa-angle-up"></i>
						</a>

					</div>

				</div>

			</footer>
		</div>

	</div>




















	<!--&lt;!&ndash; Modal 6 (Long Modal)&ndash;&gt;-->
		<!--<div class="modal fade" id="edit-page">-->


			<!--<div class="modal-dialog">-->
				<!--<div class="modal-content">-->

					<!--<div class="modal-header">-->
						<!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>-->
						<!--<h4 class="modal-title"><strong>Project Settings</strong><br /></h4>-->
					<!--</div>-->

					<!--<div class="modal-body">-->

						<!--<div class="row">-->
							<!--<div class="col-md-6">-->

								<!--<div class="form-group">-->
									<!--<label for="field-1" class="control-label"><strong>Group</strong><br /></label>-->
									<!--<input type="text" class="form-control" id="field-1" placeholder="">-->
								<!--</div>-->

							<!--</div>-->

							<!--<div class="col-md-6">-->

								<!--<div class="form-group">-->
									<!--<label for="field-2" class="control-label"><strong>Name</strong><br /></label>-->

									<!--<input type="text"   class="form-control" id="field-2" placeholder="" disabled>-->
								<!--</div>-->

							<!--</div>-->
						<!--</div>-->

						<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
							<!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->

								<!--&lt;!&ndash;<div class="form-group">&ndash;&gt;-->
									<!--&lt;!&ndash;<label for="field-3" class="control-label"><strong>Information</strong><br /></label>&ndash;&gt;-->

									<!--&lt;!&ndash;<input type="text" class="form-control" id="field-3" placeholder="">&ndash;&gt;-->
								<!--&lt;!&ndash;</div>&ndash;&gt;-->

							<!--&lt;!&ndash;</div>&ndash;&gt;-->
						<!--&lt;!&ndash;</div>&ndash;&gt;-->

						<!--<div class="row">-->
							<!--<div class="col-md-4">-->

								<!--<div class="form-group">-->
									<!--<label for="field-4" class="control-label"><strong>Generate Interval</strong><br /></label>-->

									<!--<input type="text" class="form-control" id="field-4" placeholder="">-->
								<!--</div>-->

							<!--</div>-->

							<!--<div class="col-md-4">-->

								<!--<div class="form-group">-->
									<!--<label for="field-5" class="control-label"><strong>Dispatch Number</strong><br /></label>-->

									<!--<input type="text" class="form-control" id="field-5" placeholder="">-->
								<!--</div>-->

							<!--</div>-->

							<!--<div class="col-md-4">-->

								<!--<div class="form-group">-->
									<!--<label for="field-6" class="control-label"><strong>IP Limit Interval</strong><br /></label>-->

									<!--<input type="text" class="form-control" id="field-6" placeholder="">-->
								<!--</div>-->

							<!--</div>-->
						<!--</div>-->

						<!--<div class="row" id="field-7" value="">-->
							<!--<div class="col-md-12">-->
								<!--<strong>Status</strong>-->
								<!--<br />-->
								<!--<br />-->
							<!--</div>-->

							<!--<div class="col-sm-6" >-->

								<!--<ul class="icheck-list" >-->
									<!--<li>-->



											<!--<input class="icheck-11" type="radio" name="minimal-radio-1" value="0">-->

										<!--<label>Closed</label>-->
									<!--</li>-->
									<!--<li>-->



											<!--<input class="icheck-11" type="radio" name="minimal-radio-1" value="1" >-->

										<!--<label>Running</label>-->
									<!--</li>-->
								<!--</ul>-->

							<!--</div>-->

							<!--<div class="col-sm-6">-->

								<!--<ul class="icheck-list">-->
									<!--<li>-->


											<!--<input class="icheck-11" type="radio" name="minimal-radio-1" value="2" >-->

										<!--<label>Debug</label>-->
									<!--</li>-->
									<!--<li>-->

											<!--<input class="icheck-11" type="radio" name="minimal-radio-1" value="3">-->


										<!--<label>Delay</label>-->
									<!--</li>-->
								<!--</ul>-->

							<!--</div>-->
						<!--</div>-->

					<!--</div>-->

					<!--<div class="modal-footer">-->
						<!--<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>-->
						<!--&lt;!&ndash;<button type="button" class="btn btn-info"><>Save changes</button>&ndash;&gt;-->
						<!--<a href="" onclick="return false" class="btn btn-info edit-save">Save changes</a>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->



	<!-- Imported styles on this page -->
	<link rel="stylesheet" href="{% static 'assets/js/icheck/skins/all.css' %}">

	<!-- Imported scripts on this page -->
	<script src="{% static 'assets/js/icheck/icheck.min.js' %}"></script>

	<!-- Bottom Scripts -->
	<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/TweenMax.min.js' %}"></script>
	<script src="{% static 'assets/js/resizeable.js' %}"></script>
	<script src="{% static 'assets/js/joinable.js' %}"></script>
	<script src="{% static 'assets/js/xenon-api.js' %}"></script>
	<script src="{% static 'assets/js/xenon-toggles.js' %}"></script>
	<script src="{% static 'assets/js/datatables/js/jquery.dataTables.min.js' %}"></script>


	<!-- Imported scripts on this page -->
	<script src="{% static 'assets/js/datatables/dataTables.bootstrap.js' %}"></script>
	<script src="{% static 'assets/js/datatables/yadcf/jquery.dataTables.yadcf.js' %}"></script>
	<script src="{% static 'assets/js/datatables/tabletools/dataTables.tableTools.min.js' %}"></script>

    <!-- Imported scripts on  message-->
    <script src="{% static 'assets/js/toastr/toastr.min.js' %}"></script>
	<!-- JavaScripts initializations and stuff -->
	<script src="{% static 'assets/js/xenon-custom.js' %}"></script>
	<script src="{% static 'assets/js/xspider-debug.js' %}"></script>

</body>
</html>